
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rad's Coordinate Finder</title>
  </head>
  <body>
    <p>Enter numerical values for the height and width of image, and cordinates of the corners of the rectangle</p>

    <form action='/coordinates' method="POST">
      <input name = 'height' placeholder='Height of Image' type='text'>
      <input name = 'width' placeholder='Width of Image' type='text'>
      <input name = 'corner_points' placeholder='Corner Points ex: (0,0),(0,2)),(1,0),(1,2)' type='text'>
      <input type = 'submit' value = 'Submit'>
    
    </form>

    <p>press submit button for results</p>

    
  </body>
</html>


